.Form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .Form input[type="submit"] {
    width: 100%;
    background-color: #314999;
  }

  .Title {
    display: flex;
    justify-content: space-between;
  }
  
  .Title button {
    align-self: center;
  }