  .FormFields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
  }
  
  .FormGroup {
    display: flex;
    gap: 4px;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  
  .FormField {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    flex-basis: 50%;
    justify-content: center;
  }
  
  .FormField label {
    font-size: 14px;
  }
  
  .FormField input,
  .FormField textarea,
  .FormField select {
    width: 100%;
  }
  
  .FormField textarea {
    resize: none;
  }

  .FormFieldError {
    margin-top: 0;
    padding-left: 10px;
    font-size: 13px;
    color: rgb(226, 92, 77);
  }